/* **********
	Generic imports
********** */
@import "compass/reset";
@import "compass/css3";

/* **********
	Variables and mixins
********** */
$c1: #eee;

/* **********
	Responsive design breakpoints
********** */
$phonePortrait: "only screen and (max-width : 500px)";
$overPhonePortrait: "only screen and (min-width : 500px)";
$tabletPortrait: "only screen and (max-width : 768px)";
$overtabletPortrait: "only screen and (min-width : 768px)";
$smallScreen: "only screen and (max-width : 1024px)";
$overSmallScreen: "only screen and (min-width : 1024px)";
$mediumScreen: "only screen and (max-width : 1280px)";
$overMediumScreen: "only screen and (min-width : 1280px)";
$largeScreen: "only screen and (max-width : 1600px)";
$overLargeScreen: "only screen and (min-width : 1600px)";

/* **********
	Generic styles
********** */
*{@include box-sizing(border-box); font-family: 'Lato', sans-serif; font-size: 1.6rem; line-height: 1.3; padding: 0; margin: 0;
	&:focus{outline: none;}
}
html{height: 100%; font-size: 62.5%;}
body{font-family: 'Lato', sans-serif; font-size: 1.6rem; line-height: 1.3; height: 100%; width: 100%; color: #666; background: #eee;}
input, button, select, option{font-family: 'Lato', sans-serif; border: none;}
a, button, input[type="submit"]{cursor: pointer;}

/* **********
	Partials imports
********** */
// Structure and globals
@import "structure";
@import "mainNav";

@import "jobBoard";
@import "news";
