.meetups-template {
    width: 800px;
    height: 600px;
    margin: 0;
    background-color: #E5E5E5;
    padding: 10px;
}

.meetups-template .template-h1 {
    font-size: 30px;
}

.meetups-template .template-h2 {
    font-size: 25px;
    margin: 10px;
    float: left;
}

/*blocks*/
.meetups-template .list, .meetups-template .timeline, .meetups-template .suggestions {
    float: left;
    margin: 10px;
}

/*LIST*/
.meetups-template .list {
}

.meetups-template .meetup {
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    background-color: #F2F2F2;
}

.meetups-template .meetup td {
    width: 200px;
}

.meetups-template .map {
    background-color: #DDD;
    width: 150px;
    height: 150px;
    margin: 10px;
}

/*TIMELINE*/
.meetups-template .timeline {
    text-align: center;
    margin: 0 auto;
    width: 700px;
}

.meetups-template .day {
    background-color: #CCC;
    width: 55px;
    height: 55px;
    border-radius: 28px;
    margin: 10px 5px;
    padding: 5px;
    text-align: center;
    display: inline-block;
}

.meetups-template .day:hover {
    background-color: #cc9b87;
    cursor: pointer;
}

.meetups-template .day-separator {
    margin: 10px;
    width: 55px;
    height: 55px;
    text-align: center;
    display: inline-block;
}

/*SUGGESTIONS*/
.meetups-template .suggestions {
}

.meetups-template .suggestions table {
    background-color: #F2F2F2;
    width: 100%;
}

.meetups-template .suggestions table td {
    padding: 0px 10px;
}

.meetups-template .speaker {
    background-color: #FFF;
    width: 40px;
    height: 40px;
    border-radius: 28px;
    padding: 5px;
    float: left;
    text-align: center;
    border: 2px solid #AAA;
}

.meetups-template .topic {

}

.meetups-template .suggestions-container {
}

/*misc*/
.clear {
    clear: both;
}