<template name="background">
  <!--== Site Description ==-->
  <div class="header-cta">
    <div class="container">
      <div class="row">
        <div class="blk">
          <h1>Watch out !<br/>
            The french meteor community is growing</h1>
        </div>
      </div>
      <!--<div class="row">-->
      <!--<div class="blk">-->
      <!--<input type="submit" value="Register" name="submit" id="goregister">-->
      <!--</div>-->
      <!--</div>-->
    </div>
  </div>

  <div class="header-bg">
    <!--<div id="preloader">-->
    <!--<div class="preloader"></div>-->
    <!--</div>-->
    <!--<div class="main-slider" id="main-slider">-->

    <!--&lt;!&ndash;== Main Slider ==&ndash;&gt;-->
    <!--<ul class="slides">-->
    <!--<li><img src="images/demo/bg-slide-01.jpg" alt="Slide Image"/></li>-->
    <!--<li><img src="images/demo/bg-slide-02.jpg" alt="Slide Image 2"/></li>-->
    <!--</ul>-->

    <!--</div>-->
  </div>
</template>