<template name="footer">
  <footer id="footer">
    <div id="map_canvas"></div>

    <div class="footer">
      <div class="container box">

        <section id="info" class="row">
          <div class="col-sm-8">

            <!--== Social Icons ==-->
            <ul class="social-icons">
              <li><a href="#" class="fa fa-facebook"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-google-plus"></a></li>
              <li><a href="#" class="fa fa-youtube"></a></li>
              <li><a href="#" class="fa fa-instagram"></a></li>
              <li><a href="#" class="fa fa-pinterest"></a></li>
              <li><a href="#" class="fa fa-linkedin"></a></li>
            </ul>

          </div>
          <div class="col-sm-4 text-right">
            <div class="copyrights">
              All Rights Reserved. © 2014
            </div>
          </div>
        </section>

      </div>
    </div>
  </footer>
</template>