<template name="coding_section">
  <section id="meteor-coding" class="row separated">
    <div class="col-sm-12">
      <div class="section-header text-left">
        <h2>1 meteor coding</h2>
        <!--<h4>Awesome section description goes here.</h4>-->
      </div>
    </div>
    <!--<div class="col-sm-12">-->
    <!--<form id="subscribe-form" method="post" class="form">-->
    <!--<div class="col-sm-9 col-xs-12">-->
    <!--<input name="subscriber" id="subscriber" type="email" placeholder="Email" required>-->
    <!--</div>-->
    <!--<div class="col-sm-3 col-xs-12">-->
    <!--<input type="submit" value="Subscribe" name="submit">-->
    <!--</div>-->
    <!--<p class="form-notification" style="display: none;">Done!</p>-->
    <!--</form>-->
    <!--</div>-->
    <div class="col-sm-12">
      <p>
        For the first MeteorCoding, we got together in a room and created <a href="#meteor-coding">this page</a>.

        The event took place friday July 18 in the center of Paris.
      </p>
    </div>
  </section>
</template>