<template name="coding_section">
  <section id="meteor-coding" class="row separated">
    <div class="col-sm-12">
      <div class="section-header text-left">
        <h2>1 Meteor Coding</h2>
      </div>
    </div>
    <div class="col-sm-12">
      <p>
        <a href="#meteor-coding">This page</a> was created during the first MeteorCoding.
        We got together in a room and started hacking.<br/>

        The event took place friday, July 18th in the center of Paris.
      </p>
    </div>
  </section>
</template>