<template name="meetups_section">
  <section id="meetups" class="row">
    <div class="col-sm-12">
      <div class="section-header text-left">
        <h2>6 Meetups</h2>
        <h4>(in progress)</h4>
      </div>
    </div>

    {{> meetups}}

    <!--<ul class="col-sm-3 pricing-features">-->
      <!--<li>Seat</li>-->
      <!--<li>Coffe Break</li>-->
      <!--<li>Certificate</li>-->
    <!--</ul>-->
    <!--<div class="col-md-3 col-sm-4">-->
      <!--<div class="pricing-table">-->
        <!--<h3 class="table-title">Silver</h3>-->

        <!--<div class="table-price">$99</div>-->
        <!--<ul class="table-features">-->
          <!--<li class="fa fa-check-circle"><span>Seat</span></li>-->
          <!--<li class="fa fa-minus-circle"><span>Coffe Break</span></li>-->
          <!--<li class="fa fa-minus-circle"><span>Certificate</span></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-3 col-sm-4">-->
      <!--<div class="pricing-table">-->
        <!--<h3 class="table-title">Gold</h3>-->

        <!--<div class="table-price">$199</div>-->
        <!--<ul class="table-features">-->
          <!--<li class="fa fa-check-circle"><span>Seat</span></li>-->
          <!--<li class="fa fa-check-circle"><span>Coffe Break</span></li>-->
          <!--<li class="fa fa-minus-circle"><span>Certificate</span></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-3 col-sm-4">-->
      <!--<div class="pricing-table">-->
        <!--<h3 class="table-title">Platinum</h3>-->

        <!--<div class="table-price">$299</div>-->
        <!--<ul class="table-features">-->
          <!--<li class="fa fa-check-circle"><span>Seat</span></li>-->
          <!--<li class="fa fa-check-circle"><span>Coffe Break</span></li>-->
          <!--<li class="fa fa-check-circle"><span>Certificate</span></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  </section>
</template>