<template name="members_section">
  <section id="members" class="row separated">
    <div class="col-sm-12">
      <div class="section-header">
        <h2>Many active members</h2>
        <!--<h4>Awesome section description goes here.</h4>-->
      </div>
    </div>
    <div class="col-md-3 col-sm-8">
      <div class="speaker">
        <div class="speaker-info">
          <div class="speaker-photo">
            <a href="http://www.meetup.com/Meteor-Paris/members/24002242/">
              <img src="http://blog.ploki.info/content/images/2013/Nov/vl_c-1.png">
            </a>
          </div>
        </div>
        <h3>Vianney Lecroart</h3>

        <p>Captain</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-8">
      <div class="speaker">
        <div class="speaker-info">
          <div class="speaker-photo">
            <a href="http://www.meetup.com/Meteor-Paris/members/119398612/">
              <img src="http://www.gravatar.com/avatar/127d850c28e6abe1c9cfaab13d25338b?s=500">
            </a>
          </div>
        </div>
        <h3>Pascal Richier</h3>

        <p>Meetup co-organizer</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-8">
      <div class="speaker">
        <div class="speaker-info">
          <div class="speaker-photo">
            <a href="http://www.meetup.com/Meteor-Paris/members/77662272/">
              <img src="http://photos1.meetupstatic.com/photos/member/5/8/9/0/member_93442672.jpeg">
            </a>
          </div>
        </div>
        <h3>Benjamin Crouzier</h3>

        <p>Web developer, meteor enthusiast</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-8">
      <div class="speaker">
        <div class="speaker-info">
          <div class="speaker-photo">
            <a href="#">
              <img class="blur" src="http://photos4.meetupstatic.com/photos/member/8/0/0/e/member_104072782.jpeg">
            </a>
          </div>
        </div>
        <h3>William L.</h3>

        <p>Meteor enthusiast</p>
      </div>
    </div>

    <div class="clear"></div>

    <div class="col-md-3 col-sm-8">
      <div class="speaker">
        <div class="speaker-info">
          <div class="speaker-photo">
            <img class="blur" src="http://photos2.meetupstatic.com/photos/member/9/f/9/4/member_91960852.jpeg">
          </div>
        </div>
        <h3>Xavier G.</h3>

        <p>Meteor enthusiast</p>
      </div>
    </div>
    <div class="col-md-3 col-sm-8">
      <div class="speaker">
        <div class="speaker-info">
          <div class="speaker-photo">
            <img class="blur" src="https://avatars3.githubusercontent.com/u/1658644?s=460">
          </div>
        </div>
        <h3>Julien L.</h3>

        <p>Meteor enthusiast</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-8">
      <div class="speaker">
        <div class="speaker-info">
          <div class="speaker-photo">
            <img class="blur" src="http://photos3.meetupstatic.com/photos/member/1/1/1/e/member_103204382.jpeg">
          </div>
        </div>
        <h3>Adrien J.</h3>

        <p>Meteor enthusiast</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-8">
      <div class="speaker">
        <div class="speaker-info">
          <div class="speaker-photo">
            <img class="blur" src="https://media.licdn.com/media/p/3/000/076/1e9/3ddc94b.jpg">
          </div>
        </div>
        <h3>Adrien R.</h3>

        <p>Meteor enthusiast</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-8">
      <div class="speaker">
        <div class="speaker-info">
          <div class="speaker-photo">
            <img class="blur" src="http://photos3.meetupstatic.com/photos/member/1/5/8/8/member_203765512.jpeg">
          </div>
        </div>
        <h3>Guillaume R.</h3>

        <p>Meteor enthusiast</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-8">
      <div class="speaker">
        <div class="speaker-info">
          <div class="speaker-photo">
            <img class="blur" src="http://photos1.meetupstatic.com/photos/member/2/f/9/6/member_109452182.jpeg" style="width: 136px; height: 136px;">
          </div>
        </div>
        <h3>David P.</h3>

        <p>Meteor enthusiast</p>
      </div>
    </div>

    <div class="col-md-3 col-sm-8">
      <div class="speaker">
        <div class="speaker-info">
          <div class="speaker-photo">
            <img class="blur" src="http://photos1.meetupstatic.com/photos/member/2/5/d/5/member_9249685.jpeg">
          </div>
        </div>
        <h3>David B.</h3>

        <p>Meteor enthusiast</p>
      </div>
    </div>
  </section>
</template>
