<template name="video_section">
  <section id="video" class="row separated">
    <div class="col-sm-12">
      <div class="section-header text-left">
        <h2>Video</h2>
        <h4>Awesome section description goes here.</h4>
      </div>
    </div>
    <div class="col-md-7 col-sm-12">
      <div class="video">
        <iframe width="560" height="315" src="http://www.youtube.com/embed/LuyBGkbzTjs" frameborder="0"
                allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-5 col-sm-12">
      <h3>Lorem ipsum</h3>
      <hr/>
      <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, quos, ratione, optio, blanditiis
        deserunt saepe iure sunt odit atque eius voluptatum labore excepturi explicabo aliquid sapiente porro
        voluptas commodi sint?</h4>
      <hr/>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quas, quibusdam, impedit ducimus nisi
        fugiat veritatis cupiditate commodi</p>
    </div>
  </section>
</template>