<template name="video_section">
  <section id="video" class="row separated">
    <div class="col-sm-12">
      <div class="section-header text-left">
        <h2>Videos</h2>
        <!--<h4>Awesome section description goes here.</h4>-->
      </div>
    </div>
    <div class="col-md-9 col-sm-12">
      <div class="video">
        <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;height: 400px">
          <!--<iframe src="http://www.youtube.com/embed/LuyBGkbzTjs" frameborder="0" allowfullscreen=""-->
          <!--id="fitvid985323"></iframe>-->
          <iframe frameborder="0" width="480" height="270" src="//www.dailymotion.com/embed/video/x1as66n?start=7005"
                  allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <h3>Q&A website livecoding</h3>
      <hr/>
      <h4>
        In this video (taken from the 5th meetup) you can see a livecode of a Q&A website.
        Creating and deploying an MVP in less than 30 minutes is easy with Meteor !
        (collaboration, submission, voting, authentication and basic security)
      </h4>
      <hr/>
    </div>


    <div class="clear"></div>
    <br/>

    <h3>Other videos from the 5th meetup:</h3>
    <h4>Main talks :</h4>

    <ul>
      <li>
        <a href="http://www.dailymotion.com/video/x1as66n_meetup-meteorjs-paris-2014_tech">
          Introduction about Meteor
        </a>
        - Vianney Lecroart
        (<a
          href="https://docs.google.com/presentation/d/1rEkNOJpmA05oIB37X8v7K1BVGnll4PsP9LjDXGmZdvY/edit?usp=sharing">slides</a>).
      </li>
      <li>
        <a href="http://www.dailymotion.com/video/x1as66n_meetup-meteorjs-paris-2014_tech&amp;start=4337">
          Meteor Roadmap to version 1.0
        </a>
        - Vianney Lecroart
        (<a
          href="https://docs.google.com/presentation/d/1bKlrTAjtfuO0OrAYPWCmBRp0RPh9KbOlBO-TTQyike4/edit?usp=sharing">slides</a>).
      </li>
      <li>
        <a href="http://www.dailymotion.com/video/x1as66n_meetup-meteorjs-paris-2014_tech&amp;start=5943">
          Iron Router
        </a>
        - Pascal Richier
        (<a href="http://pascoual.github.io/meteor-iron-router">slides</a>)
      </li>

    </ul>


    <h4>Lightning talks :</h4>
    <ul>
      <li>
        <a href="http://www.dailymotion.com/video/x1as66n_meetup-meteorjs-paris-2014_tech&amp;start=2704">
          dok.io : The collaborative notepad
        </a>
        - Vianney Lecroart
        (<a href="http://dok.io">http://dok.io</a>)
      </li>
      <li>
        <a href="http://www.dailymotion.com/video/x1as66n_meetup-meteorjs-paris-2014_tech&amp;start=3391">
          Club management app
        </a>
        - Pascal Richier
        (<a href="http://moto-pyrenees-sport.fr">http://moto-pyrenees-sport.fr</a>)
      </li>
      <li>
        <a href="http://www.dailymotion.com/video/x1as66n_meetup-meteorjs-paris-2014_tech&amp;start=1197">
          Republican or Democrat
        </a>
        - Fabien Huet
        (<a href="http://republicanordemocrat.meteor.com">http://republicanordemocrat.meteor.com</a>)
      </li>
    </ul>
  </section>
</template>